
.breedCardContainer1{
    display: flex;
    
}

.breedCard1{
    margin: 13px;
    background-color: black;
    box-shadow: 5px 10px 5px black; 
    border-radius: 10px;
    
}


.contenedorImagen1{
    width: 240px;
    height: 350px;
    display: flex;
    margin-bottom: 10px ;
}


.contenedorImagen1:hover{
    cursor: pointer;
    transform: scale(1.02);
}


.contenedorImagen1 > img{
    
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius:10px ; 
}