
body{
  margin: 0px;
}

ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.mainContainer1{
  display: flex;
  flex-direction: column;
  height: 100vh;

}

.mainContainer1 > main{
  height: 100%;

}

.mainContainer1 > Footer{
  background-color:black;
}

.navbar1{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color:black;

}


.navbar1 > li{
  display: flex;
  align-items: center;
}

.logo1{
  height: 60px;
}

.botonGenerico1{
  border: 0px;
  padding:10px 20px;
  border-radius: 10px;
  font-weight: bolder;


}

.botonGenerico1:hover{
  cursor:pointer;
  transform: scale(1.1) ;
}
.mainButton1{
  background-color: white;
  
}



.buscar1{
  background-color: white;
  border: 1px solid;
  padding: 4px;
  border-radius: 8px;
  width: 300px;
  display: flex;
  justify-content: space-between;

}


.buscar1 > input{
  outline: none;
  border: 0px;

}

.iconoBusqueda1:hover{
  color: black;
}
#roles, #carrito, #login , #lupa, #ventas{
  font-size: 1rem;
}