

 /*.bodyBackground {

    background-image: url("/src/media/2.jpg");
 

  
  }/*
  a:hover{
      background-color: #dde9e7;
  }
  aside {
  
    float: right;
    width: 50%;
    padding-right: 60px;
    padding-top: 10px;
    margin-top: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  td,
  th {
    border: 1px solid #7c7c7cbc;
    padding: 5px;
    text-align: center;
  }
  
  td {
    background-color: #dde9e7;
  }
  
  th {
    background-color: #14222f;
    color: aliceblue;
  }
  
  td:hover {
    background-color: #989da1;
  }
  section {
 
    float: left;
    width: 50%;
    padding-top: 10px;
    padding-left: 60px;
    
  }
  /* img {
    background-size: contain;
    width: 100px;
    opacity: 0.7;
  } */
  
/*
  h1:hover{
      background-color: #585a5c;
  }
  
  label{
      background-color: #3a3c3d;
      color: #dde9e7;
      margin-top: 5px;
      padding: 5px;
      border-radius: 15px 0px;
 
      margin-bottom: 20px;
  }
  label:hover{
      background-color: #b1b4b8;
      color: #0f4f8f;
  }
  select{
      margin-top: 10px;
      margin-bottom: 10px;
  }
  input{
      margin-top: 10px;
      margin-bottom: 10px;
  
  }
  .boton {
      min-height: 50px;
      width: 200px;
      border-radius: 80%;
      border-color: transparent;
      background-color: #3d3e3f;
      color: #fff;
      font-size: 30px;
      padding-bottom: 6px;
      border-width: 0;
      float: left;
      margin-top: 20px;
    }
    

    .botonActualizar{
      cursor: pointer;
      min-height: 50px;
      width: 200px;
      border-radius: 80%;
      border-color: transparent;
      background-color: #3d3e3f;
      color: #fff;
      font-size: 30px;
      padding-bottom: 6px;
      border-width: 0;
      float: left;
      margin-top: 20px;
    }
    .botonActualizar:hover{
        background-color: #707274;
    }
    .contenedorBoton{
      text-align: center;
    }
    .contenedor{
      max-width: 400px;
      margin: 0px auto;

      border-radius: 25px;
      box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
      background-color: #1a1e36;
      text-align: center;
      color: #fff;
      padding: 10px;
      margin-top: 30px;
      
      
  
    }
    .cabecero{
      background-color: #1a1e36;
      text-align: center;
      color: #fff;
      padding: 10px;
      margin-top: 30px;
    }*/
    
    /**{
      margin: 0;
      padding: 0;
    }
*/
  .contenedor{
    position: absolute;
    left: 400px;
  }

  .divTable{
    position: absolute;
    left: 400px;
    right: 50px;
    top: 200px;
  }

  .divInputs{
    position: absolute;
    left: 50px;
    top: 200px;
  }

  .contenedor h1{
    background-color: black;
    color: azure;
    padding: 10px;
    border-radius: 20px;
  }

  .divInputs label{
    background-color: rgb(73, 72, 72);
    color: aliceblue;
    border-radius: 10px 0;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .divInputs button{
    background-color: black;
    color: aliceblue;
    padding: 20px;
    border-radius: 300px;
    margin-left: 100px;
    margin-top: 10px;
    width: 200px;
    font-size: 20px;
  }

  .divInputs button:hover{
    background-color: rgb(109, 107, 107);
    color: aliceblue;

  }
