

 body {
    height: 600px;
    background: url("../media/2.jpg"), linear-gradient(to bottom, #000000bc, #ffffffbc);
    background-size: cover;
  
  
  }
  a:hover{
      background-color: #dde9e7;
  }
  aside {
  
    float: right;
    width: 50%;
    padding-right: 60px;
    padding-top: 10px;
    margin-top: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  td,
  th {
    border: 1px solid #7c7c7cbc;
    padding: 5px;
    text-align: center;
  }
  
  td {
    background-color: #dde9e7;
  }
  
  th {
    background-color: #14222f;
    color: aliceblue;
  }
  
  td:hover {
    background-color: #989da1;
  }
  section {
 
    float: left;
    width: 50%;
    padding-top: 10px;
    padding-left: 60px;
    
  }
  img {
    background-size: contain;
    width: 100px;
    opacity: 0.7;
  }
  

  h1:hover{
      background-color: #585a5c;
  }
  
  label{
      background-color: #3a3c3d;
      color: #dde9e7;
      margin-top: 5px;
      padding: 5px;
      border-radius: 15px 0px;
 
      margin-bottom: 20px;
  }
  label:hover{
      background-color: #b1b4b8;
      color: #0f4f8f;
  }
  select{
      margin-top: 10px;
      margin-bottom: 10px;
  }
  input{
      margin-top: 10px;
      margin-bottom: 10px;
  
  }
  button {
      min-height: 50px;
      width: 200px;
      border-radius: 80%;
      border-color: transparent;
      background-color: #3d3e3f;
      color: #fff;
      font-size: 30px;
      padding-bottom: 6px;
      border-width: 0;
      float: left;
      margin-top: 20px;
    }
    button:hover{
        background-color: #707274;
    }

    .botonActualizar{
      cursor: pointer;
    }

    .contenedorBoton{
      text-align: center;
    }
    .contenedor{
      max-width: 400px;
      margin: 0px auto;

      border-radius: 25px;
      box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
      background-color: #1a1e36;
      text-align: center;
      color: #fff;
      padding: 10px;
      margin-top: 30px;
      
      
  
    }
    .cabecero{
      background-color: #1a1e36;
      text-align: center;
      color: #fff;
      padding: 10px;
      margin-top: 30px;
    }