*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Header*/

main{
    display:grid;
    padding: 10px;
    font-family: 'Prompt', sans-serif;

}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }


  .logo {
    height: 80px;
  }

  .botonGenerico {
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
    font-family: 'Prompt', sans-serif;
  }

  .botonGenerico:hover {
    cursor: pointer;
    transform: scale(1.1);
  }


  .mainButton {
    background-color:white;
    color: black;
  }
  
  .filtro{ background-color: white;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    display: flex;
    justify-content: space-between
  }

  .mainButton:hover {
    box-shadow: 1px 1px white;
  }

  .secondaryButton {
    background-color:white;
    color:black;
  }

  .secondaryButton:hover {
    box-shadow: 1px 1px rgb(107,174,242,85);
  }

  .buscar {
    background-color: white;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    justify-content: space-between;
  }


  .buscar > input {
    outline: none;
    border: 0px;
  }

  .iconoBusqueda:hover {
    color: blue;
  }

  .iconoEditar:hover {
    color: blue;
    cursor:pointer;
    transform: scale(0.98);
  }
  .iconoEliminar:hover {
    color: red;
    cursor:pointer;
    transform: scale(0.98);
  }



/*Ingreso datos formulario*/
#contenedorFormulariov{
    padding: 30px;

}

#contenedorFormulariov > h1{
    margin-bottom: 15px;
    text-align: center;  
}

#contenedorFormulariov > form{
    display:flex;
    flex-direction: column;
    gap: 5px;
}

#contenedorFormulariov > form>input{
    padding: 5px;
    border-radius: 5px;
    border: 0.5px solid rgb(75, 72, 72);
}

#contenedorFormulariov > form>button{
    margin-top: 10px;
    padding: 10px;
    border-radius: 25px;
    border:none;
    background-color: rgb(39, 35, 35);
    color:white;
}

#contenedorFormulariov > form>button:hover{
    cursor:pointer;
    transform: scale(0.98);
    background-color: (45,73,102,40) ;
}


/*Tabla*/
table{
    width: 95%;
}
#contenedorTablaventas{
    background-color:white;
    padding: 30px;

}

#contenedorTablaventas > h1{
    margin-bottom: 15px;
    text-align: center;  
}

table,td,th,tr{
    border: 0.5px solid rgb(75, 72, 72);
    border-collapse: collapse;
}

th{
    background-color:rgb(58, 58, 58);
    padding: 15px 5px;
    color: white;
}

td{

    padding: 15px 5px;

}

/*Breakpoints tamaño tabla */
@media only screen and (max-width: 600px){
    main{
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 600px){
    main{
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 768px){
    main{
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 992px){
    main{
        grid-template-columns: 400px 1000px;
    }
}

@media only screen and (min-width: 1200px){
    main{
        grid-template-columns: 400px 1000px ;  
    }
}
